body{
    background-image:url("https://images.unsplash.com/photo-1580852300513-9b50125bf293?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGNhbWVyYXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size:cover;
    background-position:center;
    color:white;
}
button{
    width:13%;
    background-color:aqua;
    margin:5px;
    padding:5px;
    font-size:20px;
}
label{
    font-size:20px;
    margin:10px;
}
#textbox{
    width:300px;
    border-radius:5px;
    margin:5px;
    padding:5px;
}
#camera{
    width:360px;
    height:250px;
    border:1px solid white;
}